{% extends "base.html" %}


{% block inside_jumbotron %} 
<h1 class="display-4 font-italic">Здесь отображены ваши статьи за весь период</h1>
{% endblock %}

{% block title_posts %}Мои самые последние посты из бд{% endblock %}
{% block blog_post %}
<div class="blog-post">
        <h2 class="blog-post-title"><a class="p-2 text-muted" href="post_1.html">Название поста_1</a></h2>
        <p class="blog-post-meta">1 апреля 2020 by <a href="#">Автор_я"</a></p>

        <p>Изложение тезисов самой статьи,поста.</p>
        
        <p>Ссылки на  <a href="#">источники</a></p>
        <blockquote>
         <h2>Содержание статьи.</h2>
         <hr>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title"><a class="p-2 text-muted" href="post_2.html">Название другого поста_2</a></h2>
        <p class="blog-post-meta">3 апреля by <a href="#">Автор_я</a></p>

        <p>Изложение тезисов самой статьи,поста.</p>
        
        <p>Ссылки на  <a href="#">источники</a></p>
        <blockquote>
         <h2>Содержание статьи.</h2>
         <hr>
        </div><!-- /.blog-post -->
{% endblock%}
        
        {% block nav %}
                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                </nav>
                {% endblock%}
    