{% extends 'base.html' %}

{% block title %}Личная страница{% endblock %}
{% block links_2 %}
<a class="btn btn-sm btn-outline-secondary" href="/auth/logout">Выйти</a>
                     
{% endblock %}
{% block title_posts %}
{% for i in posts %}
<h5>- {{i.post_title}}</h5>

{% endfor %}
{% endblock%}

{% block blog_post %}
{% for post in posts %}
<h2>Название статьи: {{post.post_title}}</h2>
<p>{{post.post_text}}</p>
<hr>
{% endfor %}
                {% endblock%}




{% block body %}
<h1>User info:</h1>
<ul class="list-group">
  <li class="list-group-item">Authenticated: {{ current_user.is_authenticated }}</li>
    {% if current_user.is_authenticated %}
    <li class="list-group-item">Username: {{ current_user.username }}</li>
    {% endif %}
</ul>
{% endblock %}
