{% extends 'base.html' %}

{% block title %}Личная страница{% endblock %}
              {% block links %}
            <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        {% endblock %}
{% block links_2 %}
<a class="btn btn-sm btn-outline-secondary" href="/auth/logout">Выйти</a>
                     
{% endblock %}
{% block title_posts %}

<h5>- {{post_one.post_title}}</h5>


{% endblock%}

{% block blog_post %}

<h2>Название статьи: {{post_one.post_title}}</h2>
<p>{{post_one.post_text}}</p>
<hr>

                {% endblock%}




{% block body %}
<h1>User info:</h1>
<ul class="list-group">
  <li class="list-group-item">Authenticated: {{ current_user.is_authenticated }}</li>
    {% if current_user.is_authenticated %}
    <li class="list-group-item">Username: {{ current_user.username }}</li>
    {% endif %}
</ul>
{% endblock %}
