{% extends 'base.html' %}

    <title>{% block title %}Страница входа{% endblock %}</title>


              {% block links %}
            <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">



  </head>

  <body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">Добро пожаловать в интерактивное сообщество!</a>
                </div>

            </div>
        </header>
        {% block user_panel %}

        {% endblock %}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
        {% block inside_jumbotron %}

<h1>Пожалуйста, введите ваш логин и пароль для регистрации:</h1>
<form method="post">
  <div class="form-group">
    <label for="exampleInputUsername1">Логин</label>
    <input type="text" name="username" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">Username has at least 3 symbols</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
        {% endblock %}
        </div>
    </div>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-4 mb-4 font-italic border-bottom">

                {% block title_posts %}{% endblock%}

                </h3>


                {% block blog_post %}
                {% endblock%}

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">О нас</h4>
                    <p class="mb-0">Мы - <em>интерактиваная платформа</em> фитнесс и спорт индустрии. Помогаем тренерам,спортсменам и звездам спорта наладить взаимовыгодное сотрудничество.</p>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Архивы материалов</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2018</a></li>
                        <li><a href="#">2019</a></li>

                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Ищите нас на:</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <footer  class="blog-footer" >

        <p align="center" >Otus DZ production</p>
        <p align="center">
            <a  href="#">Вернуться наверх</a>
        </p>


    </footer>



    </body>

</html>